<div class="flex flex-row justify-end mr-10 mt-5">
    <div class="w-[500px] h-auto">
        <h5 class="text-end mr-10 row-span-2 text-xl font-bold">تست</h5>
        <p class="text-end row-span-2 mr-5 border-b border-gray-500">ازم نخواه با تو بنومنم تو هیچی از من نمی دونی اگه بگم راز دلم رو تو هم کنارم نمی می نی ازم نخواه با تو بمونم هی هی تو هیچی از من نمی دونی اگه بگم راز دلم رو تو هم کنتارم نمی مونی تو هم کنارم نمی مونی</p>
    </div>
    <div class="flex items-center mt-4 md:mt-0">
        <img src="assets\icon-png\like_274250.png" class="w-[25px] h-[25px]">
    </div>    
    <mat-card class="w-[400px] flex flex-col justify-end col-span-3">
        <img src="assets/img/ac-image-6D1646204108bf.jpg" alt="" class="rounded-lg p-3">
        <span class="text-right">span</span>
    </mat-card>
</div>    