<div class="w-[70%] p-4 text-2xl text-black rounde-xl shadow-sm mx-auto flex items-center justify-center bg-gray-200 mt-10p" *ngIf="!isCanAccess">
    <h2> شما دسترسی به این بخش ندارید :( </h2>
</div>
<div *ngIf="isCanAccess" class="grid grid-cols-12">
    <div class="flex flex-col col-span-6">
        <h4 class="w-full ml-5 mt-12 rounded-lg bg-gray-200 text-black text-lg flex items-center justify-center p-3" *ngIf="movies.length==0">
            فیلمی موجود نیست
        </h4>
        <div class=" flex flex-col justify-start items-end rounded-md bg-gray-300 h-auto m-5" *ngFor="let movie of movies">
            <img src="{{ movie.image_address }}" class="rounded-full w-[80px] h-[80px] m-2">
            <h5 class="m-2 text-end text-xl font-bold mb-2 mr-10">{{ movie.title }}</h5>
            <p class="text-end mr-5 m-2">{{ movie.description }}</p>
            <button (click)="deleteFilm(movie.title)" class="rounded-md bg-red-700 p-2 m-2 text-white font-bold hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300">حذف </button>
        </div>
    </div>
    <div class="col-span-6 pt-3 flex flex-col justify-start items-end rounded-md bg-gray-300 h-min m-5">
        <div class="clear">
    
        </div>
        <div class="w-52 pr-4">
            <h3 class="text-sm mb-2 font-bold text-end">
                عنوان
            </h3>
            <textarea matInput placeholder="عنوان   " [(ngModel)]="value.title" class="text-end w-full h-[50px] rounded-md"></textarea>
        </div>
        <div class="w-60 pr-4">
            <h3 class="text-sm mb-2 font-bold text-end">
                توضیحات
            </h3>
            <textarea matInput placeholder=" توضیحات  " [(ngModel)]="value.description" class="text-end w-full h-[100px] rounded-md"></textarea>
        </div>
        <div class="w-32 pr-4">
            <h3 class="text-sm mb-2 font-bold text-end">
                نمره
            </h3>
            <textarea type="number" matInput placeholder=" نمره  " [(ngModel)]="value.rating" class="text-end w-full h-[50px] rounded-md"></textarea>
        </div>
        <div class="w-32 pr-4">
            <h3 class="text-sm mb-2 font-bold text-end">
                ژانر
            </h3>
            <textarea matInput placeholder=" ژانر  " [(ngModel)]="value.genre" class="text-end w-full h-[50px] rounded-md"></textarea>
        </div>
        
        <div class="w-80 pr-4">
            <h3 class="text-sm mb-2 font-bold text-end">
               عکس
            </h3>
            <input (change)="checkImage($event)" type="file" [(ngModel)]="value.cover_link" class="mr-4 mb-4 bg-slate-200">
        </div>
    
        <button (click)="addMovie()" mat-flat-button mat-raised-button color="primary" class="mr-4 mb-4">افزودن</button>
    </div>
    
    
    
</div>